<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>LSEnvironment</key>
	<dict>
		<key>Public_Api_Key</key>
		<string>658d906acb1711ec83e59522395da1bd</string>
		<key>Public_Api_Secret_Key</key>
		<string>204579aacb1711ecb1bc39d947010c76</string>
		<key>Azure_Endpoint</key>
		<string>sygreceiptrecognizer1</string>
		<key>Azure_Key</key>
		<string>9a5241847d8543ada6e6b77c3859eaf7</string>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
</dict>
</plist>
